

<nav>
  <div class="nav-wrapper blue darken-2">
    <a href="#" class="brand-logo">OPTIself- Client Area</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/clients">Dashboard</a></li>
      <li><a href="/messages">My Messages</a></li>
      <li><a href="/schedule">My Schedule</a></li>
    </ul>
  </div>
</nav>
