<div class="container-fluid">

<nav>
  <div class="nav-wrapper blue darken-2">
    <a href="#" class="brand-logo" style="margin-left:10px;">OPTIself- Coaching Area</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/coaches">Dashboard</a></li>
      <li><a href="/messages">My Messages</a></li>
      <li><a href="/schedule">My Schedule</a></li>
    </ul>
  </div>
</nav>
</div>
