
<% include partials/base.ejs %>

    <head>
      <%if (type == "coach") { %>
      <% include partials/coachheader.ejs %>
      <% } else if (type == "client") { %>
          <% include partials/clientheader.ejs %>
      <% }%>

</head>
<body>
<h2> hi <%= username %></h2>

<h3>Here are the ammount of messages you have sent </h3>
<textarea id="text" style="width:700px; height:50px;"> </textarea>

<h3>Here are your events </h3>

<p id="events" style="width:700px; height:50px;"> </p>


<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>

</body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var messages = document.getElementById('text');
var events = document.getElementById('events');
socket.emit('user capture', username, id, 0);
socket.on('userdetails', function(body){
  console.log(body);
  var json = JSON.parse(body);
    messages.innerHTML += (body);
});

socket.on('details', function(body){
  messages.innerHTML += (body);
  console.log(body);
});
socket.on('events', function(body){
  console.log(body);
  var json = JSON.parse(body);
    events.innerHTML += (body);
});
</script>
