
<% include partials/base.ejs %>

    <head>
      <%if (type == "coach") { %>
      <% include partials/coachheader.ejs %>
      <% } else if (type == "client") { %>
          <% include partials/clientheader.ejs %>
      <% }%>

</head>
<body>
<b> hi <%= username %></b>
<p id="text" style="width:700px; height:400px;"> </p>


<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>

</body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var myTextArea = document.getElementById('text');
socket.emit('user capture', username, id, 0);
socket.on('userdetails', function(body){
  console.log(body);
  var json = JSON.parse(body);
    myTextArea.innerHTML += (json[0]["count"]);
});
</script>
