
<% include partials/base.ejs %>

<head>
  <%if (id == "1") { %>
  <% include partials/coachheader.ejs %>
  <% } else if (id == "2") { %>
      <% include partials/clientheader.ejs %>
  <% }%>


<body>
<h2><%= username %>'s messages</h2>


</br>
<div class="row">
<div class="col-md-7">
<div class="container" id="text" style="max-height:300px;">
  <% for(var i=0; i < json.length; i++) { %>
      <p> <b><%= json[i]['sender_id'] %>:  </b><%= json[i]['message'] %></p>
  <% } %>
</div>
</div>

<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>
<input name="receiver" id="receiver" value= <%= receiver_id %> hidden>
<div class="col-md-4">
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" id="send" value="Send">
</form>
</div>
</div>
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>

<script>

var socket = io();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var receiverid = $('#receiver').val();
console.log(receiverid);
socket.emit('user capture', username, id, receiverid);
var myTextArea = document.getElementById('text');
socket.on('connection', function(connection){
  var json = JSON.parse(connection);

  //COME BACK TO HERE AND LOOP OUT LIST OF MESSAGES IN ORDER
//  myTextArea.innerHTML += (json[0]['message']);
});

$('form').submit(function(){
socket.emit('chat message', id, receiverid, $('#chat_input').val());
$('#chat_input').val('');
$('#username').val('');
return false;
});

socket.on('success', function(id, message){
  myTextArea.innerHTML += ('<b>' + id + ': </b>'+ message);
  console.log(id+message);
});






</script>
