
<% include partials/base.ejs %>

<head>
  <%if (id == "1") { %>
  <% include partials/coachheader.ejs %>
  <% } else if (id == "2") { %>
      <% include partials/clientheader.ejs %>
  <% }%>


<body>
Hi <%= username %>, here are your messages

</br>

<textarea id="text" style="width:700px; height:400px;"> </textarea>

<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>
<input name="receiver" id="receiver" value= <%= receiver_id %> hidden>

<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" id="send" value="Send">
</form>
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>

<script>

var socket = io();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var receiverid = $('#receiver').val();
console.log(receiverid);
socket.emit('user capture', username, id, receiverid);
var myTextArea = document.getElementById('text');
socket.on('connection', function(connection){
  var json = JSON.parse(connection);
  myTextArea.innerHTML += (json[0]['id']+ " " +json[0]['message']);
});

$('form').submit(function(){
socket.emit('chat message', id, receiverid, $('#chat_input').val());
$('#chat_input').val('');
$('#username').val('');
return false;
});

socket.on('success', function(id, message){
  myTextArea.innerHTML += (id + message);
  console.log(id+message);
});






</script>
