
<% include partials/base.ejs %>

<head>
  <%if (id == "1") { %>
  <% include partials/coachheader.ejs %>
  <% } else if (id == "2") { %>
      <% include partials/clientheader.ejs %>
  <% }%>


<body>
Hi <%= username %>, here are your messages
<input name="username" id="username" value= <%= username %> hidden>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>

<script>


var socket = io();
var username = $('#username').val();
$('form').submit(function(){
socket.emit('chat message', username, $('#chat_input').val());
$('#chat_input').val('');
$('#username').val('');
return false;
});


</script>
