
<% include partials/base.ejs %>

    <head>
      <%if (id == "1") { %>
      <% include partials/coachheader.ejs %>
      <% } else if (id == "2") { %>
          <% include partials/clientheader.ejs %>
      <% }%>

<body>
<h2><%= username %>'s schedule</h2>
<div class="row">
<div class="col-md-7">
  <div class="container" id="text" style="max-height:300px;">

<% for(var i=0; i < json.length; i++) { %>
     <b><u><p><%= json[i]['title'] %></p></b></u>
     <p><%= json[i]['note'] %></p>

<% } %>
</div>
</div>

<div class="col-md-4">
  <h4>Add an event</h4>
<form id="form" id="chat_form">
  <input id="title" type="text">
  <input id="note" type="text">
    <input type="submit" id="send" value="Send">
</form>
</br>
<div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>
  <h4>Google calendar upcoming events</h4>
  <pre id="output"></pre>
  <button id="authorize-button" onclick="signOut(event)">
    Sign Out
  </button>
</div>
</div>
<p id="events" style="width:700px; height:50px;"> </p>


<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>
<input name="receiver" id="receiverid" value= <%= receiver_id %> hidden>

</body>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
var receiverid = $('#receiverid').val();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var events = document.getElementById('events');
socket.emit('say to someone', id, "hello");
socket.emit('user capture', username, id, 0);
//socket.on('events', function(body){
//  console.log(body);
//  var json = JSON.parse(body);
//    events.innerHTML += (body);
//});
var myTextArea = document.getElementById('text');

$('form').submit(function(){
console.log("done event");
var titles = document.getElementById("title").value;;
var notes = document.getElementById("note").value;;
console.log(title);
socket.emit('addevent', id, receiverid, titles, notes);
return false;
});

socket.on('eventsuccess', function(receiver_id, user_id, note, title, date){
  myTextArea.innerHTML += ('<b><u><p>' + title + '</b></u></p><p>'+ note + '</p>');
  console.log(title);
});

</script>

<script type="text/javascript">
  // Your Client ID can be retrieved from your project in the Google
  // Developer Console, https://console.developers.google.com
  var CLIENT_ID = '427337013691-u9g03q8od2jtlieu8gnidkuh6hlh9mkp.apps.googleusercontent.com';

  var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

  /**
   * Check if current user has authorized this application.
   */
  function checkAuth() {
    gapi.auth.authorize(
      {
        'client_id': CLIENT_ID,
        'scope': SCOPES.join(' '),
        'immediate': true
      }, handleAuthResult);
  }

  /**
   * Handle response from authorization server.
   *
   * @param {Object} authResult Authorization result.
   */
  function handleAuthResult(authResult) {
    var authorizeDiv = document.getElementById('authorize-div');
    if (authResult && !authResult.error) {
      // Hide auth UI, then load client library.
      authorizeDiv.style.display = 'none';
      loadCalendarApi();
    } else {
      // Show auth UI, allowing the user to initiate authorization by
      // clicking authorize button.
      authorizeDiv.style.display = 'inline';
    }
  }

  /**
   * Initiate auth flow in response to user clicking authorize button.
   *
   * @param {Event} event Button click event.
   */
  function handleAuthClick(event) {
    gapi.auth.authorize(
      {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
      handleAuthResult);
    return false;
  }

  /**
   * Load Google Calendar client library. List upcoming events
   * once client library is loaded.
   */
  function loadCalendarApi() {
    gapi.client.load('calendar', 'v3', listUpcomingEvents);
  }

  /**
   * Print the summary and start datetime/date of the next ten events in
   * the authorized user's calendar. If no events are found an
   * appropriate message is printed.
   */
  function listUpcomingEvents() {
    var request = gapi.client.calendar.events.list({
      'calendarId': 'primary',
      'timeMin': (new Date()).toISOString(),
      'showDeleted': false,
      'singleEvents': true,
      'maxResults': 10,
      'orderBy': 'startTime'
    });

    request.execute(function(resp) {
      var events = resp.items;
      appendPre('Upcoming events:');

      if (events.length > 0) {
        for (i = 0; i < events.length; i++) {
          var event = events[i];
          var when = event.start.dateTime;
          if (!when) {
            when = event.start.date;
          }
          appendPre(event.summary + ' (' + when + ')')
        }
      } else {
        appendPre('No upcoming events found.');
      }

    });
  }

  /**
   * Append a pre element to the body containing the given message
   * as its text node.
   *
   * @param {string} message Text to be placed in pre element.
   */
  function appendPre(message) {
    var pre = document.getElementById('output');
    var textContent = document.createTextNode(message + '\n');
    pre.appendChild(textContent);
  }

  var event = {
    'summary': 'Google I/O 2015',
    'location': '800 Howard St., San Francisco, CA 94103',
    'description': 'A chance to hear more about Google\'s developer products.',
    'start': {
      'dateTime': '2015-05-28T09:00:00-07:00',
      'timeZone': 'America/Los_Angeles'
    },
    'end': {
      'dateTime': '2015-05-28T17:00:00-07:00',
      'timeZone': 'America/Los_Angeles'
    },
    'recurrence': [
      'RRULE:FREQ=DAILY;COUNT=2'
    ],
    'attendees': [
      {'email': 'lpage@example.com'},
      {'email': 'sbrin@example.com'}
    ],
    'reminders': {
      'useDefault': false,
      'overrides': [
        {'method': 'email', 'minutes': 24 * 60},
        {'method': 'popup', 'minutes': 10}
      ]
    }
  };

  var request = gapi.client.calendar.events.insert({
    'calendarId': 'primary',
    'resource': event
  });

  request.execute(function(event) {
    appendPre('Event created: ' + event.htmlLink);
  });

</script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth">
</script>
