
<% include partials/base.ejs %>

    <head>
      <%if (id == "1") { %>
      <% include partials/coachheader.ejs %>
      <% } else if (id == "2") { %>
          <% include partials/clientheader.ejs %>
      <% }%>

<body>
<h2><%= username %>'s schedule</h2>
<div class="row">
  <div class="col s7 ">
    <div class="scroll-container" style="  height:600px;overflow-y: scroll;">
<table class="bordered">
    <tbody id="eventlist">
    <% for(var i=0; i < json.length; i++) { %>
        <tr>
         <td><%= json[i]['title'] %></td>
         <td><%= json[i]['note'] %></td>
       </tr>
    <% } %>
    </tbody>
  </table>
  </div>
</div>

  <div class="col s4 "style="border-left:solid black 1px;">
  <h4>Add an event</h4>
<form id="form" id="chat_form">
  <input id="title" type="text">
  <input id="note" type="text">
  <input type="submit" id="send" value="Send">

</form>
</br>
<h4> Google Calendar Sync</h4>
<div class="row">
<div id="authorize-div" style="display: none">
  <div class="col s7 ">

    <span>Authorize access to Google Calendar API</span>

  </div><!--Button for the user to click to initiate auth sequence -->
  <div class="col s4 ">
    <a class="waves-effect waves-light  blue darken-1 accent-3 btn" id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </a>
  </div>
</div>
</div>
<div class="row">

  <div id="reauthorize-div" style="display: none">
    <div class="col s7 ">
      <span class="info-text">Sync new events</span></div>
        <div class="col s5 ">
      <!--Button for the user to click to initiate auth sequence -->
      <a class="waves-effect waves-light blue darken-1 accent-3 btn" id="authorize-button" onclick="reauthorize();">
        Sync
      </a>
    </div>
  </div>
</div>

  <h5>Google calendar upcoming events</h5>
  <pre id="output"></pre>
  <div class ="row">
  <div id="unauthorize-div" style="display: none">
        <div class="col s10 ">
          <a  id="unauthorize-button" onclick="signOut();">
        Sign out
      </a>
    </div>
    </div>
  </div>
</div>
</div>
<p id="events" style="width:700px; height:50px;"> </p>


<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>
<input name="receiver" id="receiverid" value= <%= receiver_id %> hidden>

</body>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
var receiverid = $('#receiverid').val();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var events = document.getElementById('events');
socket.emit('say to someone', id, "hello");
socket.emit('user capture', username, id, 0);
//socket.on('events', function(body){
//  console.log(body);
//  var json = JSON.parse(body);
//    events.innerHTML += (body);
//});
var myTextArea = document.getElementById('text');

$('form').submit(function(){
console.log("done event");
var titles = document.getElementById("title").value;;
var notes = document.getElementById("note").value;;
console.log(titles);
socket.emit('addevent', id, receiverid, titles, notes);
return false;
});

socket.on('eventsuccess', function(receiver_id, user_id, note, title, date){
  var p = document.getElementById('eventlist');
  p.innerHTML += ('<tbody><tr><td>' + title +  '</td><td>' + note + '</td></tr></tbody>');

});
  // Your Client ID can be retrieved from your project in the Google
  // Developer Console, https://console.developers.google.com
  var CLIENT_ID = '427337013691-u9g03q8od2jtlieu8gnidkuh6hlh9mkp.apps.googleusercontent.com';

  var SCOPES = ["https://www.googleapis.com/auth/calendar"];
  var now = new Date();
  today = now.toISOString();

  var twoHoursLater = new Date(now.getTime() + (2*1000*60*60));
  twoHoursLater = twoHoursLater.toISOString();
  /**
   * Check if current user has authorized this application.
   */
  function checkAuth() {
    gapi.auth.authorize(
      {
        'client_id': CLIENT_ID,
        'scope': SCOPES.join(' '),
        'immediate': true
      }, handleAuthResult);
  }
  var auth = {};
  /**
   * Handle response from authorization server.
   *
   * @param {Object} authResult Authorization result.
   */

  function reauthorize(){
    authentication = auth[auth]
   makeApiCall();
   }

  function handleAuthResult(authResult) {
    console.log(authResult)
    auth[auth]= authResult;

    var authorizeDiv = document.getElementById('authorize-div');
    var unauthorizeDiv = document.getElementById('unauthorize-div');
    var reauthorizeDiv = document.getElementById('reauthorize-div');
    if (authResult && !authResult.error) {
      // Hide auth UI, then load client library.
      authorizeDiv.style.display = 'none';
      loadCalendarApi();
      unauthorizeDiv.style.display = 'inline';
      reauthorizeDiv.style.display = 'inline';

    } else {
      // Show auth UI, allowing the user to initiate authorization by
      // clicking authorize button.
      authorizeDiv.style.display = 'inline';
    }
  }
/**FINNISH THIS **/
  function signOut() {
        document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://optiself.co.uk/schedule";
}
/** FINISH THIS */

  /**
   * Initiate auth flow in response to user clicking authorize button.
   *
   * @param {Event} event Button click event.
   */
  function handleAuthClick(event) {
    gapi.auth.authorize(
      {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
      handleAuthResult);
    return false;
  }

  /**
   * Load Google Calendar client library. List upcoming events
   * once client library is loaded.
   */
  function loadCalendarApi() {
    gapi.client.load('calendar', 'v3', listUpcomingEvents);
  }

  /**
   * Print the summary and start datetime/date of the next ten events in
   * the authorized user's calendar. If no events are found an
   * appropriate message is printed.
   */
  function listUpcomingEvents() {
    var request = gapi.client.calendar.events.list({
      'calendarId': 'primary',
      'timeMin': (new Date()).toISOString(),
      'showDeleted': false,
      'singleEvents': true,
      'maxResults': 10,
      'orderBy': 'startTime'
    });

    request.execute(function(resp) {
      var events = resp.items;
      appendPre('Upcoming events:');
      if (events.length > 0) {
        for (i = 0; i < events.length; i++) {
          var event = events[i];
          var when = event.start.dateTime;
          if (!when) {
            when = event.start.date;
          }
          appendPre(event.summary + ' (' + when + ')')
        }
      } else {
        appendPre('No upcoming events found.');
      }

    });
  }

  // setup event details
  var resource = {
  'summary': 'test',
  'location': 'a random location',
  'description': 'test',
  "start": {
    "dateTime": today
  },
  "end": {
    "dateTime": twoHoursLater
  }
  };

  // function load the calendar api and make the api call
  function makeApiCall() {
    gapi.client.load('calendar', 'v3', function() {					// load the calendar api (version 3)
      var request = gapi.client.calendar.events.insert({
        'calendarId':		'primary',	// calendar ID
        "resource":			resource							// pass event details with api call
      });

      // handle the response from our api call
      request.execute(function(resp) {
        if(resp.status=='confirmed') {
        appendPre("Event created successfully. View it <a href='" + resp.htmlLink + "'>online here</a>.");
        } else {
          appendPre("There was a problem. Reload page and try again.");
        }
        /* for (var i = 0; i < resp.items.length; i++) {		// loop through events and write them out to a list
          var li = document.createElement('li');
          var eventInfo = resp.items[i].summary + ' ' +resp.items[i].start.dateTime;
          li.appendChild(document.createTextNode(eventInfo));
          document.getElementById('events').appendChild(li);
        } */
        console.log(resp);
      });
    });
  }

  /**
   * Append a pre element to the body containing the given message
   * as its text node.
   *
   * @param {string} message Text to be placed in pre element.
   */
  function appendPre(message) {
    var pre = document.getElementById('output');
    var textContent = document.createTextNode(message + '\n');
    pre.appendChild(textContent);
  }

</script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth">
</script>
<% include partials/footer.ejs %>
