
<% include partials/base.ejs %>

    <head>
      <%if (id == "1") { %>
      <% include partials/coachheader.ejs %>
      <% } else if (id == "2") { %>
          <% include partials/clientheader.ejs %>
      <% }%>

<body>
<h2><%= username %>'s schedule</h2>
<div class="row">
<div class="col-md-7">
<% for(var i=0; i < json.length; i++) { %>
   <div class="container">
     <b><u><p><%= json[i]['title'] %></p></b></u>
     <p><%= json[i]['note'] %></p>
   </div>
<% } %>
</div>

<div class="col-md-4">
  <h4>Add an event</h4>
<form id="form" id="chat_form">
  <input id="title" type="text">
  <input id="note" type="text">
    <input type="submit" id="send" value="Send">
</form>
</div>
</div>
<p id="events" style="width:700px; height:50px;"> </p>


<input name="username" id="username" value= <%= username %> hidden>
<input name="id" id="id" value= <%= id %> hidden>
<input name="receiver" id="receiverid" value= <%= receiver_id %> hidden>

</body>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
var receiverid = $('#receiverid').val();
var username = $('#username').val();
var id = $('#id').val();
console.log(id);
var events = document.getElementById('events');
socket.emit('say to someone', id, "hello");
socket.emit('user capture', username, id, 0);
//socket.on('events', function(body){
//  console.log(body);
//  var json = JSON.parse(body);
//    events.innerHTML += (body);
//});

$('form').submit(function(){
console.log("done event");
var titles = document.getElementById("title").value;;
var notes = document.getElementById("note").value;;
console.log(title);
socket.emit('addevent', id, receiverid, titles, notes);
return false;
});
socket.on('eventsuccess', function(receiver_id, user_id, note, title, date){
  var d = document.createElement( 'div' );
  d.id = "new1";
  d.innerHTML = title + note;
  var p = document.getElementById('events');
  p.appendChild(d);
});


</script>
